```
# Compiled Python files
*.pyc
__pycache__/

# Logs
*.log
editor/logs/

# Environment
.env
.env.local
*.env.*

# Dependencies
.venv/
venv/
node_modules/

# Editors
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Coverage
.coverage
coverage/
htmlcov/

# Build artifacts
dist/
build/
target/

#Tets
1971/
*.SCX
*.CSV
*.pgmx

```